<div class="container">
    <!-- Botão para criar nova manifestação -->
    <button id="bt-criar-inicial" class="btn btn-primary" (click)="openCreateModal()">Criar Manifestação</button>

    <!-- Tabela para listar manifestações -->
    <table class="table">
        <thead>
            <tr>
                <th>Nome do Usuário</th>
                <th>Tipo de Manifestação</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let manifestation of manifestations">
                <td>{{ manifestation.usuario }}</td>
                <td>{{ manifestation.tipo }}</td>
                <td>{{ manifestation.descricao }}</td>
                <td id="td-btn">
                    <button id="update-bt" class="btn" (click)="openEditModal(manifestation)"><img class="imagem" src="edit.png" alt=""></button>
                    <button id="delete-bt" class="btn" (click)="deleteManifestation(manifestation.id)"><img src="trash.png" alt=""></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal para criar/editar manifestação -->
<div class="modal" tabindex="-1" [ngClass]="{'show': selectedManifestation !== null}" style="display: block;"
    *ngIf="selectedManifestation !== null">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="centralizar" class="modal-header">
                <h5 class="modal-title">{{ selectedManifestation?.id ? 'Editar Manifestação' : 'Criar Manifestação' }}
                </h5>
            </div>
            <div id="bt-afastar" class="modal-body">
                <form #manifestationForm="ngForm" (ngSubmit)="saveManifestation(manifestationForm.value)">
                    <div class="form-group">
                        <label for="usuario">Nome do Usuário:</label>
                        <input type="text" id="usuario" class="form-control" name="usuario"
                            [(ngModel)]="selectedManifestation.usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo de Manifestação:</label>
                        <input type="text" id="tipo" class="form-control" name="tipo"
                            [(ngModel)]="selectedManifestation.tipo" required>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" class="form-control" name="descricao"
                            [(ngModel)]="selectedManifestation.descricao" required></textarea>
                    </div>
                    <button id="bt-submit" type="submit" class="btn btn-primary">{{ selectedManifestation?.id ? 'Salvar' : 'Criar'
                        }}</button>
                    <button id="bt-cancel" type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div> 