<header>
  <div class="logo">
      <img src="Logo.png" alt="Logo Unifacisa">
  </div>
  <nav>
      <ul>
          <li><a href="#nossos-colaboradores">Nossos Colaboradores</a></li>
          <li><a href="#sobre-nos">Sobre Nos</a></li>
          <li><button class="button_login" type="button">Login</button></li>
          <li><button class="button_bg" type="button">Compartilhe sua experiencia</button></li>
      </ul>
  </nav>
</header>

<main>
  <section class="home">
      <h2>Parte 1</h2>
      <p>Descrição da Parte 1.</p>
  </section>
  <section class="parte2">
      <div class="parte2">
          <h3>Compartilhe sua experiencia
              Sua voz importa !</h3>
          <p>Sua participação ativa não só enriquece nossa instituição, mas também ajuda a criar um ambiente mais acolhedor e inovador para todos. 
              Acredite na força do diálogo e na importância de ser ouvido.</p>
          <button class="button_bg" type="button">Cadastre-se já</button>
      </div>
  </section>
  <section class="parte3">
      <h2>Parte 3</h2>
      <p>Descrição da Parte 3.</p>
      <img src="section02_bg.png" alt="nao sei">
  </section>
  <section class="parte4">
      <h2>Parte 4</h2>
      <table class="tabela-moderna">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Curso</th>
                  <th>Tipo</th>
                  <th>Texto</th>
                  <th> </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>João</td>
                  <td>Medicina</td>
                  <td>Critica</td>
                  <td>Segurança Péssima</td>
                  <td><button class="table_bt" type="button"><img src="trash.png" alt=""> </button>
                      <button class="table_bt" type="button"><img src="edit.png" alt=""></button></td>
              </tr>
              <tr>
                  <td>Maria</td>
                  <td>ADS</td>
                  <td>Sugestão</td>
                  <td>Melhorar plataforma Canvas</td>
                  <td><button class="table_bt" type="button"><img src="trash.png" alt=""> </button>
                      <button class="table_bt" type="button"><img src="edit.png" alt=""></button></td>
              </tr>
              <tr>
                  <td>Pedro</td>
                  <td>SI</td>
                  <td>Critica</td>
                  <td>Professores mal educados</td>
                  <td><button class="table_bt" type="button"><img src="trash.png" alt=""> </button>
                      <button class="table_bt" type="button"><img src="edit.png" alt=""></button></td>
              </tr>
          </tbody>
      </table>
  </section>
</main>


<footer>
  <div class="footer-content">
      <div class="footer-section">
          <p>Resources</p>
          <ul>
              <li><a href="#">Overview</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Customer stories</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <p>Resources</p>
          <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Guides & tutorials</a></li>
              <li><a href="#">Help Center</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <p>Company</p>
          <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Midia Kit</a></li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <a href="#">Terms & privacy</a>
      <a href="#">Security</a>
      <a href="#">Status</a>
      <a>&copy;2024 | UniFacisa. Todos os direitos reservados.</a>
  </div>
</footer>

<router-outlet />
