/*  Inicio do CSS do Header  */   


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0px 0px;
    background-color: #043873;
}
/*  Inicio do CSS da Class Section  */   


section {
    height: 45vw; /* Altura das seções */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    align-content: center;
}


/*  Inicio do CSS da parte 1  */   


.parte_01 {
    background-image: url('../../public/main_background.png');
}
#texto_01{
    display: block;
    margin-right: 650px;
    margin-top: -50px;
    text-align: left;
}
    #texto_01 h2{
        font-size: 30px;
        padding-bottom: 30px;
        width: 400px;
        text-align: left;
    }
#img_home{
    width: 320px;
    margin-left: -500px;
}

/*  Inicio do CSS da parte 2  */   


.parte_02 {
    background-image: url('../../public/section_bg.png');
}
#texto_02{
    display: block;
    margin-left: 500px;
    margin-top: -10px;
}
    #texto_02 h2{
        font-size: 28px;
        padding-bottom: 30px;
        width: 400px;
        text-align: left;
        color: #212529;
    }
    #texto_02 p {
        width: 400px;
        color: #212529;
    }

/*  Inicio do CSS da parte 3  */   


.parte_03 {
    background-image: url('../../public/section02_bg.png');
    height: 300px;
    background-size: cover;
    background-position: right;
}
#texto_03{
    display: block;
    margin-left: 0;
    margin-top: -40px;
}
    #texto_03 h2{
        font-size: 28px;
        padding-bottom: 20px;
        
    }
    #texto_03 p {
        width: 650px;
    }

/*  Inicio do CSS da parte 4  */   
.parte_04{
    display: grid;
    height: 450px;
    align-content: center;
}
    .parte_04 h2{
        color: #212529;
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: -80px;
    }

/*  Inicio do CSS footer  */   


footer {
    background-color: #043873;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 12px;
}
    footer a{
        text-decoration: none;
        font-size: 12px;
        padding-left: 20px;
    }

/*  Fim do CSS  */   
